NEXT_PUBLIC_AZTEC_NETWORK=testnet

NEXT_PUBLIC_AZTEC_TESTNET_NODE_URL=https://v5.testnet.rpc.aztec-labs.com
NEXT_PUBLIC_AZTEC_TESTNET_EXPLORER_URL=https://testnet.aztecscan.xyz
NEXT_PUBLIC_AZTEC_TESTNET_SPONSORED_FPC_ADDRESS=0x130925fbd734a252e3d8ddff87f6c346052dd2
NEXT_PUBLIC_AZTEC_TESTNET_CONTRACT_ADDRESS=
NEXT_PUBLIC_AZTEC_TESTNET_ASSET_VERIFIER_ADDRESS=
NEXT_PUBLIC_AZTEC_TESTNET_TREASURY_ADDRESS=
NEXT_PUBLIC_AZTEC_TESTNET_PAUSE_GUARDIANS=
NEXT_PUBLIC_AZTEC_TESTNET_PAUSE_THRESHOLD=2
NEXT_PUBLIC_AZTEC_TESTNET_TEST_TOKEN_ADDRESS=
NEXT_PUBLIC_AZTEC_TESTNET_USDC_TOKEN_ADDRESS=
NEXT_PUBLIC_AZTEC_TESTNET_USDT_TOKEN_ADDRESS=
NEXT_PUBLIC_AZTEC_TESTNET_CNGN_TOKEN_ADDRESS=
NEXT_PUBLIC_AZTEC_TESTNET_EURC_TOKEN_ADDRESS=

NEXT_PUBLIC_AZTEC_MAINNET_NODE_URL=
NEXT_PUBLIC_AZTEC_MAINNET_EXPLORER_URL=
NEXT_PUBLIC_AZTEC_MAINNET_SPONSORED_FPC_ADDRESS=
NEXT_PUBLIC_AZTEC_MAINNET_CONTRACT_ADDRESS=
NEXT_PUBLIC_AZTEC_MAINNET_ASSET_VERIFIER_ADDRESS=
NEXT_PUBLIC_AZTEC_MAINNET_TREASURY_ADDRESS=
NEXT_PUBLIC_AZTEC_MAINNET_PAUSE_GUARDIANS=
NEXT_PUBLIC_AZTEC_MAINNET_PAUSE_THRESHOLD=2
NEXT_PUBLIC_AZTEC_MAINNET_TEST_TOKEN_ADDRESS=
NEXT_PUBLIC_AZTEC_MAINNET_USDC_TOKEN_ADDRESS=
NEXT_PUBLIC_AZTEC_MAINNET_USDT_TOKEN_ADDRESS=
NEXT_PUBLIC_AZTEC_MAINNET_CNGN_TOKEN_ADDRESS=
NEXT_PUBLIC_AZTEC_MAINNET_EURC_TOKEN_ADDRESS=